* text=auto

*.pdf binary
*.pptx binary
*.png binary
*.jpg binary
*.jpeg binary
*.webp binary
*.ico binary
*.zip binary
*.7z binary
*.msi binary
*.exe binary
*.bin binary
*.ckpt binary
*.safetensors binary
*.onnx binary
*.pt binary
*.pth binary
